<div class="parent grid-parent">

  <div class="infoPanel">
    <div style="margin-top: 200px;
    margin-left: 78px;
    ">
      <div>
        <h3 style="width: 475px;
        height: 22px;
        mix-blend-mode: multiply;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.88;
        letter-spacing: 0px;
        color: #b9c7d2;">Stellant Injection Workflow</h3>
        <h5 style="width: 475px;
        height: 54px;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0px;
        color: #41505b;">The Stellant P3T Injector Workflow enables you to select, adjust and review
          protocol
          efficiently, reducing risk of error and increasing patient comfort.
        </h5>
      </div>

      <div>
        <div>
          <mat-icon svgIcon="info-leaf" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            style="display: inline-block;"></mat-icon>
          <h3 style="
        display: inline-block;
        width: 475px;
      height: 18px;
      margin-left: 15px;
      mix-blend-mode: multiply;
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #b9c7d2;">Learning Mode</h3>
        </div>
        <h5 style="  width: 475px;
      height: 54px;
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #41505b;
    ">Learning mode makes learning simple and intuitive for technicains who are still building their experience. Grow
          your confidence on the job through concise prompts and visuals.
        </h5>
      </div>

      <div>
        <h3 style="width: 475px;
      height: 18px;
      mix-blend-mode: multiply;
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #b9c7d2;">Protocol Rating</h3>
        <h5 style=" width: 475px;
      height: 54px;
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #41505b;">Provide valuable feedback to your team through rating and notes. Each exam can be rated and
          reviewed, helping other technicians make better protocol choices.
        </h5>
      </div>
    </div>
  </div>


  <!-- right side with new injection buttons -->
  <div class="child">
    <div style="text-align: center;">
      <h3 style="width: 316px;
    height: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.1px;
    color: #465b6b;">Start a New Injection</h3>

      <h3 style="
    text-align: center;
    height: 18px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #41505b;">Who is the new injection for?</h3>
    </div>
    <div style="text-align: center;">
      <button mat-raised-button style="
      margin-top: 49px;
      width: 186px;
      height: 82px;
      border-radius: 6px;
  background-color: #465b6b;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.02px;
      text-align: center;
      color:white      "
      (click)="navigateToPwl()">
      New Patient</button>
      <button mat-raised-button style="
      margin-top: 40px;
      width: 186px;
      height: 82px;
      border-radius: 6px;
  background-color: #465b6b;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.02px;
      text-align: center;
      color:white
      ">Same Patient</button>
    </div>
  </div>


</div>
